<div *ngIf="auth.user | async; then authenticated else guest">
  <!-- template will replace this div -->
</div>
<ng-template #guest>
  <h3>Howdy, GUEST</h3>
  <p>Login to get started...</p>
</ng-template>
<!-- User logged in -->
<ng-template #authenticated>
  <div *ngIf="auth.user | async as user">
      <h3>Howdy, {{ user.displayName }}</h3>
      <img  [src]="user.photoUrl">
      <p>UID: {{ user.uid }}</p>
      <p>Github user name: {{user.ghUser.login}}</p>
      <p>Github web page <a [href]="user.ghUser.html_url">click here</a></p>
      <p>email: {{user.email}}</p>
      <button (click)="getOrgs()">Get Orgs</button>
      <button (click)="auth.signOut()">Logout</button>
      <ul>
        <li *ngFor="let o of (orgs$ | async)">{{o.login}}: {{o.description}}</li>
      </ul>
    </div>
</ng-template>

