<div *ngIf="(userNorg | async)" fxLayout="row">
<form #orgSel="ngForm" (ngSubmit)="orgSelSubmit(orgSel)">
  
  <mat-select fxFlex="20"  placeholder="Organization" name="orgpick" ngModel>
      <mat-option *ngFor="let o of (userNorg | async)" [value]="o">
        {{ o.login }}
      </mat-option>
   </mat-select>
 <mat-form-field>
   <input matInput placeholder="Id or Org" value="" name="orgfree" ngModel>
 </mat-form-field>
 <ng-container *ngIf="!orgPick; else orgDescTemp">
  <p> Select or Enter an Organization</p>
</ng-container>
    <ng-template #orgDescTemp>
        <span fxFlex="30" *ngIf="orgPick.description"></span> ( {{orgPick?.description}} ) 
    </ng-template>
<button type="submit" fxFlex="10" mat-raised-button color="primary" [disabled]="!orgSel.form.valid">Get</button>
</form>
</div>
