<mat-card>
    <mat-card-header>
      <mat-card-title><h3 *ngIf="(Repos | async)">Repositories: {{(Repos | async)?.length}}</h3></mat-card-title>
    </mat-card-header>

<div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource" matSort>
  
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
      <!-- Description SelectCol -->
      <ng-container matColumnDef="selectCol">   
        <mat-header-cell *matHeaderCellDef mat-sort-header> Select </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.selected}}</mat-cell>
      </ng-container>
      <!-- Login or Org Owner Column -->
      <ng-container matColumnDef="loginOrOrg">
        <mat-header-cell class="login-col" *matHeaderCellDef mat-sort-header> Owner </mat-header-cell>
        <mat-cell *matCellDef="let row" class="login-col"> {{row.owner.login}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="sCol">
        <mat-header-cell class="sel-col" *matHeaderCellDef><button mat-mini-fab (click)="addRepos()">Add</button></mat-header-cell>
        <mat-cell *matCellDef="let row" class="sel-col"><span [innerHTML]='"&nbsp"'></span><mat-checkbox [(ngModel)]="row.selected"><span [innerHTML]='"&nbsp"'></span></mat-checkbox></mat-cell>
      </ng-container>
      <!-- Repo Name -->
      <ng-container matColumnDef="repoName">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="repo-name"> Name </mat-header-cell>
        <mat-cell *matCellDef="let row" class="repo-name"> {{row.name}}</mat-cell>
      </ng-container>
  
      <!-- Description Column -->
      <ng-container matColumnDef="repoDescription">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="repo-desc"> Description </mat-header-cell>
        <mat-cell *matCellDef="let row" class="repo-desc"> {{row.description}} </mat-cell>
      </ng-container>
  
      <!-- Issues Column -->
      <ng-container matColumnDef="repoIssues">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="repo-issue">Issues </mat-header-cell>
        <mat-cell *matCellDef="let row" class="repo-issue" > {{row.open_issues_count | number}} </mat-cell>
      </ng-container>
      <!-- Size Column -->
      <ng-container matColumnDef="repoSize">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="repo-size">Size</mat-header-cell>
          <mat-cell *matCellDef="let row" class="repo-size"> {{row.size | number}} </mat-cell>
        </ng-container>
  
      <!-- Description Topics -->
      <ng-container matColumnDef="repoTopics">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="repo-topics"> Topics </mat-header-cell>
          <mat-cell *matCellDef="let row" class="repo-topics"><span *ngFor="let t of row.tags">{{t}} </span>  </mat-cell>
      </ng-container>    

      <!-- Description Last Updated -->
      <ng-container matColumnDef="repoUpdated">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="repo-updated"> Updated </mat-header-cell>
          <mat-cell *matCellDef="let row" class="repo-updated"> {{row.updated_at | date:'short'}} </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
