.login-col {
    flex: 0 0 10%;
}
.sel-col {
    flex: 0 0 8%;
    display: flex;
    align-items: center;
}
.repo-name {
    flex: 0 0 15%;
}
.repo-desc {
    flex: 0 0 30%;
}
.repo-issue {
    flex: 0 0 5%;
    display: flex;
    justify-content: flex-end;
    margin-right: 5px
}
.repo-size {
    flex: 0 0 8%;
    display: flex;
    justify-content: flex-end;
    margin-right: 5px
}
.repo-topics {
    flex: 0 0 20%;
}
.repo-updated {
    flex: 0 0 15%;
    display: flex;
    justify-content: flex-end;
    margin-right: 5px
}

